package ${e.exception.packageName};

/**
 *
 */
public class ${e.exception.fqClassName} extends ${e.exception.fqClassNameInherit} {

    private String _exceptionIdentificaionDomain = "${e.name}";

    #foreach($p in $e.exception.frontEndParameters)${p.fieldDeclatation}
    #end

    public ${e.exception.fqClassName} (${e.exception.parameterString}) {
        super();
#foreach($p in $e.exception.frontEndParameters)        ${p.parameterToField}
#end
    }


    public ${e.exception.fqClassName} (${e.exception.parameterStringAppendix} java.lang.Throwable causeThrowable) {
        super(causeThrowable);
#foreach($p in $e.exception.frontEndParameters)        ${p.parameterToField}
#end
    }

    public String getMessagePayload() {
        StringBuilder result = new StringBuilder("{\n");
        for (String locale : new String[]{${e.exception.localeStr}) {
            ResourceBundle resourceBundle = ResourceBundle.getBundle("${e.properties}", Locale.forLanguageTag(locale));
            String message = resourceBundle.getString(_exceptionIdentificaionDomain);
#foreach($p in ${e.exception.frontEndParameters})            message = message.replaceAll("${p.tag}", String.valueOf(this.${p.name}));
#end
            result.append(String.format("\t[\"%s\", \"%s\"]\n", locale, message));
        }
        result.append("}\n");
        return result.toString();
    }
}

